.banner-Image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;

  .content-area {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .recipe-title {
    color: white;
    width: 100%;
    padding: 20px;
    opacity: 0.8;
    background-color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1px;

    .close-icon {
      float: right;

      &:hover {
        color: lightgrey;
        cursor: pointer;
      }
    }
  }

  .recipe-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    box-sizing: border-box;

    .content-title {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 1.1em;
    }

    .ingredients {
      padding: 10px;
      opacity: 0.8;
      background-color: black;
      flex-basis: 30%;
      height: 100%;
      margin-right: 1px;
      overflow-y: scroll;
    }

    .method {
      padding: 10px;
      opacity: 0.8;
      background-color: black;
      flex-basis: calc(70% - 1px);
      height: 100%;
      overflow-y: scroll;

      .step-display-container {
        border-radius: 3px;
        border: 1px transparent solid;

        &:hover {
          border: 1px lightgrey solid;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .banner-Image {

    padding: 20px;
    height: auto;
    overflow-y: scroll;

    .recipe-title {
      height: auto;
    }

    .content-area {
      width: 100%;
    }

    .recipe-container {

      flex-flow: column nowrap;

      .ingredients {
        width: 100%;
        flex-basis: auto;
        margin-right: 0px;
        margin-bottom: 1px;
        overflow-y: visible;
        height: auto;
      }

      .method {
        flex-basis: auto;
        width: 100%;
        height: auto;
        overflow-y: visible;
      }
    }
  }
}