.step-display-container {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 10px;

  &:hover {
    //background-color: lightgrey;
  }

  .step-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
  }

  .step-description {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }
}