.image-display {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain; }

.image-uploader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px lightgrey dashed;
  height: 100%;
  width: 100%; }
  .image-uploader-container:hover {
    border: 2px darkgrey dashed; }
  .image-uploader-container input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .image-uploader-container input:focus + label, .image-uploader-container input + label:hover {
      color: darkgrey; }
    .image-uploader-container input + label {
      padding: 50%;
      font-size: 2em;
      font-weight: 700;
      color: lightgrey;
      display: inline-block;
      cursor: pointer; }
  .image-uploader-container .progress-update {
    font-size: 2em;
    font-weight: 700;
    color: lightgrey; }
