.home-background {
  background-image: url("../../asset/images/food_background2.jpg");
  width: 100%;
  min-height: 85%;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
  filter: saturate(120%);

  .title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;

    .page-title {
      padding-top: 30%;
      font-size: 100px;
      line-height: 1;
      color: white;
    }
  }

}
